<% if promotion.errors.any? %>
  <p>Não foi possível criar a promoção</p>
  <p>Confira os erros abaixo:</p>
  Erros: <%= promotion.errors.full_messages.join(', ') %>
<% end %>
<%= form_with(model: promotion, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name%>
    <%= form.text_field :name,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field  :code %>
  </div>
  <div class="form-group">
    <%= form.label :discount_rate %>
    <%= form.text_field :discount_rate %>
  </div>

  <% if promotion.coupons.empty? %>
    <div class="form-group">
      <%= form.label :coupon_quantity %>
      <%= form.text_field  :coupon_quantity %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :expiration_date %>
    <%= form.date_field  :expiration_date %>
  </div>

  <div class="form-group">
    <%= form.collection_check_boxes :product_category_ids, @product_categories, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit button_submit, class: 'btn btn-primary' %>
  </div>
<% end %>