<% if flash.notice %>
  <%= flash.notice %>
<% end %>
<p>
  <strong>Nome:</strong>
  <%= @promotion.name %>
</p>

<p>
  <span> Cadastrada por: <%= @promotion.user.email %></span>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>Porcentagem de Desconto:</strong>
  <%= number_to_percentage @promotion.discount_rate,precision:2, separator: ',' %>
</p>

<p>
  <strong>Código do Cupom:</strong>
  <%= @promotion.code %>
</p>

<p>
  <strong>Data de término:</strong>
  <%= @promotion.expiration_date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Quantidade de cupom:</strong>
  <%= @promotion.coupon_quantity %>
</p>

<%= link_to 'Voltar', promotions_path %>

<% if @promotion.coupons.count == 0 %>
  <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post%>
<% end %>

<%= link_to 'Editar', edit_promotion_path(@promotion) %>
<%= link_to 'Apagar', promotion_path(@promotion), method: :delete, data:{confirm:'Are you sure you want to delete?'}%>
<%= button_to 'Apagar btn',promotion_path(@promotion), method: :delete, data:{confirm:'Are you sure you want to delete?'} %>

<% @promotion.coupons.each do |coupon|  %>
  <div id="coupon-<%= coupon.id %>">
    <span><%= coupon.code %> (<%= t(coupon.status) %>)</span>
    <% if coupon.active? %>
      <%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %>
    <% end %>
  </div>
<% end %>